body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('360_F_316926143_cVdnI6bJPbhlo1yZVTJk0R0sjBx4vVnO.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    display: flex;
    width: 90%;
    max-width: 1200px;
    height: 70%;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
}

.left-panel, .right-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.left-panel {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    text-align: center;
}

.branding .logo {
    width: 80px;
    margin-bottom: 10px;
}

.right-panel {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    padding: 40px;
    color: white;
}

.form-container {
    width: 100%;
    max-width: 400px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

p {
    margin-bottom: 20px;
    color: #555;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    color: #333;
}

textarea {
    height: 100px;
}

.delete-button {
    width: 100%;
    padding: 10px;
    background-color: #FFFFFF;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #c0392b;
}

.cancel-link {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #4A90E2;
    text-decoration: none;
}

.cancel-link:hover {
    text-decoration: underline;
}

.illustration img {
    width: 80%;
    max-width: 300px;
}
